<h2>Report</h2>
<table class="table">
    <thead>
        <tr>
            <th>Export</th>
            <th>Date</th>
            <th>User Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for export in exports %}
            <tr>
                <td>{{ export.name }}</td>
                <td>{{ export.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ export.userName }}</td>
                <td>{{ export.location }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

