{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}

{% block title %}Export Report{% endblock %}

{% block filter %}
    <h2>Filter</h2>
    <div>
        <label>Date From:</label>
        <input type="text" id="datepickerFrom" />
    </div>
    <p></p>
    <div>
        <label>Date To:</label>
        <input type="text" id="datepickerTo" />
    </div>
    <p></p>
    <div>
        <label>Location:</label>
        <input type="text" id="location" value="Europe"/>
    </div>
    <p></p>
    <div>
        <button id="submit">Submit</button>
    </div>
{% endblock %}

